.max-height {
  min-height: 100vh;
}
body {
  background: #eeaeee;
}
.message-container {
  background-color: #fff;
  border: black 2px solid;
}
.feedback {
  display: none;
}
.show {
  display: block;
}
#submitBtn:hover {
  background-color: #000;
  color: white;
}
